/*datePicker Style*/
.buy-date{
	float:left;
}

.react-datepicker__input-container{
	width:100%;
	/*background-color: red;*/
}

.react-datepicker__input-container input[type=text]{
	
	box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	margin-top: 10px;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	width:100%;

	/*Fix's ios input shitty-ness*/
	-webkit-appearance: none;
	border-radius: 0px;
	padding:0px;
	padding: 3px 0px;
	/*Fix's ios input cursor shitty-ness*/
	-webkit-user-select: none; 
	user-select: none;
}

.react-datepicker__input-container input[type=text]:focus{
	-webkit-appearance: none;
/*	    color: transparent;
    	text-shadow: 0px 0px 0px #000;
    	outline: none;*/
}
.react-datepicker__day{
	text-decoration: none;

}

/*input[type=submit]*/
/*<div className="datePick">*/

/*className="xdate-picker"*/