

.App {
  text-align: center;
}

ul{
  list-style-type: none;
}

.small{
  height: 150px;
  animation: rocking 30s linear infinite;
  -webkit-animation: rocking 30s linear infinite;
  z-index: -1;
  position: absolute;
}

.large{
  height: 1200px;
   animation: rocking 30s linear infinite;
  -webkit-animation: rocking 30s linear infinite;
  z-index: -3;
  top: -50%;
    left: 135px;
    position: absolute;
    overflow: hidden;
}
 
.med{
    height: 300px;
   animation: rocking 30s linear infinite;
  -webkit-animation: rocking 30s linear infinite;
  z-index: -2;
  float:left;

} 

.btcCoin {
 /* animation: App-logo-spin infinite 20s linear;
  height: 80px;*/
  color: red;
      animation: rocking 30s linear infinite;
    -webkit-animation: rocking 30s linear infinite;
    
    /*position: absolute;*/

}

@keyframes rocking{
  0% {
    transform: rotate(0deg) translate(0%, 0%);
  }

  33% {
    transform: rotate(45deg) translate(5%, 5%);
  }

  66% {
    transform: rotate(-45deg) translate(-5%, -5%);
  }

  100% {
    transform: rotate(0deg) translate(0%, 0%);
  }

}

/*.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}*/

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
