/*btc Orange
#f5922f
rgb(245,146,47)*/

/*btc Grey
#4d4d4d
rgb(77,77,77)*/

/*http://chemical-number.surge.sh*/

ul{
  list-style-type: none;
}

.big{
  top:1px;
  left:15%;
}


/*How to SVG Animation
https://codepen.io/marcywilliamspudalov/pen/wGKQRw*/
.btcCoin {
    animation: rocking 30s linear infinite;
    -webkit-animation: rocking 30s linear infinite;
    
    position: absolute;
    z-index:-2;
}

@keyframes rocking{
  0% {
    transform: rotate(0deg) translate(0%, 0%);
  }

  33% {
    transform: rotate(45deg) translate(5%, 5%);
  }

  66% {
    transform: rotate(-45deg) translate(-5%, -5%);
  }

  100% {
    transform: rotate(0deg) translate(0%, 0%);
  }

}


.calculator{
  background-color: rgba(255,255,255,0.8);
  width:92%;
  margin:0px 2% 0px 2%;
  padding:2%;
  margin-top: 10px;
  box-shadow: 0 1px 7px rgba(0,0,0,0.5);

}

/*Test*/





